body {
  margin: 0;
  padding: 0;
  color: rgb(241, 249, 249);
}

.Container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  background-color: rgb(8, 23, 23);
  width: 100%;
}




.Navigation {
  background-color: rgb(8, 23, 23);
  color: white;
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.ImageScroller {
  margin-bottom: 20px;
}
